# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Test output
# test_output/

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE settings
# .vscode/
.idea/

# Logs
# *.log